body {
    background-color: #ddd;
    font-size: 14px;
}

body {
    font-family: YuGothic, "遊ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ　Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #33ff66;
    font-size: 14px;
}

span.red {
    color: red;
}
nav ul li {
    display: inline-block;
}

#some {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    /*左からtop,right,bottom,left
      *なので上上と同値
      *topから時計回りと覚えましょう
      */
    margin: 10px 20px 30px 40px;
    /* 上下100px,左右200px　*/
    margin: 100px 200px;
    /* 上下左右50px　*/
    margin: 50px;
}

nav ul li {
    margin: 0 20px;
    display: inline-block;
}

nav {
    text-align: center;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

nav ul li a.selected {
    color: #000;
}

nav {
    text-align: center;
    backbround: #fff;
}

header {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 280px;
}

#logo {
    padding: 20px 0;
    text-align: center;
}

#logo img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
}

#logo h1 {
    letter-spacing: 0.15em;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

.container {
    max-width: 800px;
    margin: -200px auto 200px;
    background-color: #99ffcc;
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px
    
}

section {
    padding: 30px 20px;
}

section h2 {
    padding: 10px 0 20px 0;
    text-align: center;
    letter-spacing: 0.15em;
}

footer {
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    background-color: #ccc;
    color: #666;
}
